CapaGUI/Connected Services/ServiceReferenceValeConsumo/WebServiceValeConsumo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GenerarConsumo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="valeConsumo" type="tns:ValeConsumo" />
            <s:element minOccurs="0" maxOccurs="1" name="salidas" type="tns:ArrayOfSalida" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ValeConsumo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTrabajador" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfSalida">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Salida" nillable="true" type="tns:Salida" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Salida">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdValeConsumo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdProducto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroUnidades" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerarConsumoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GenerarConsumoSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarConsumo" />
  </wsdl:message>
  <wsdl:message name="GenerarConsumoSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarConsumoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceValeConsumoSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GenerarConsumo">
      <wsdl:input message="tns:GenerarConsumoSoapIn" />
      <wsdl:output message="tns:GenerarConsumoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceValeConsumoSoap" type="tns:WebServiceValeConsumoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarConsumo">
      <soap:operation soapAction="http://tempuri.org/GenerarConsumo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceValeConsumoSoap12" type="tns:WebServiceValeConsumoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerarConsumo">
      <soap12:operation soapAction="http://tempuri.org/GenerarConsumo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceValeConsumo">
    <wsdl:port name="WebServiceValeConsumoSoap" binding="tns:WebServiceValeConsumoSoap">
      <soap:address location="http://localhost:61368/WebServiceValeConsumo.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceValeConsumoSoap12" binding="tns:WebServiceValeConsumoSoap12">
      <soap12:address location="http://localhost:61368/WebServiceValeConsumo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>